#root {
  max-width: 1080px;
  margin: 0 auto;
  padding: 2.5rem;
  text-align: center;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
footer a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 0.8rem;
  transition: color 0.2s;
}
footer a.active {
  color: #eeba52;
}
footer a:hover {
  color: #86f6f8;
}
.post-btn {
  margin: 1rem 1rem 1rem 0;
  padding: 0.5em 1.5em;
  border-radius: 12px;
  background: #fff;
  color: #51545d;
  font-weight: bold;
  border: 1px solid #51545d;
  cursor: crosshair;
  transition: background 0.9s, color 0.2s;
}
.post-btn:hover:not(:disabled) {
  background: #51545d;
  color: #fff;
}
.post-btn:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}
